/*--Remember the cascade: Later styles override earlier ones and more specific styles override more general ones.--*/
body {
  color: #444;
  font-size: 22px;
  font-family: 'Staatliches', cursive;
  display: center;
}
p {
  margin-bottom: .67em;
}


/*-- Main Menu Styles--*/
nav ul {
  display: flex;
  flex-direction: row;
  color: #FFA537;
  justify-content: space-around;
  padding: 14px 16px;
  text-decoration: Lato;
  margin-left: auto;
  margin-right: auto;
  background-color: #FF6737;
  font-size: 20px;

}
nav a:link, nav a:visited {
  color: #FFA537;
  text-decoration: bold;
}
nav a:hover, nav a:active  {
  color: #FFA537;
  text-decoration: underline;
}
nav a.active {
  color: #FFA537;
}



/*--Grid Styles--*/
.grid-container {
  border: 3px ;
  padding: 1em;
  display: grid;
  grid-gap: 1em 2em;
  grid-template-columns: repeat(3, 1fr);
}
/*-- changes .hero-copy and article width on small screens --*/
@media screen and (max-width: 767px) {
  .hero-copy {width: 96%;}
  article {width: 96%;}
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.grid-item {
  border: 2px solid white;
  padding: .5em;
  background-color: white;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #3c3c3c;
}
nav a:link, nav a:visited {
  color: #D0D0D0;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
/*-- Hero Unit Styles--*/
.hero-copy {
  width: 300px;
  margin: 2em auto;
}
.hero-copy img {
  width: 100%;
  margin:0 auto;
}
.hero-copy h1 {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
.hero-copy .small {
  margin-top: 1em;
  font-size: 20px
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin: 2em auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
    font-size: 20px
}

.four{
      display: flex;
      justify-content: center;
}

.pagination {
  margin: 2em auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
a.button {
  border: 1px solid #888;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #888;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 1px solid #444;
  text-decoration: none;
  color: #222;
}
.feat3 h4 {
  font-size: 2.5em;
}
.text {
}
.foot {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #FF6737;
  text-align: center;
}
